body {
  padding-top: 56px;
  background: #99ffcc;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.show-on-click {
  display: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.image-gallery-wrapper img {
  float: left;
  height: 200px;
  padding-right: 10px;
}

.blog-excerpt img {
  float: left;
  height: 150px;
  padding-right: 10px;
}

.page-content {
  padding-bottom: 35px;
}

.hidden {
  display: none;
}

.all-tags.some-selected li.tag a {
  text-decoration: line-through;
}

.all-tags.some-selected li.tag a.selected,
.tag-selector.selected {
  text-decoration: none;
  font-weight: bold;
}
